<!DOCTYPE html>
<html>

<head>
    <title>Machine learning deployment</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>

    <div align="center" class="bg-info">
        <h1>Nhận diện biển số xe máy</h1>
    </div>
    <div class="big" align="center">
        <form method="POST" enctype=multipart/form-data action="/uploader">
            <h3>Tải lên biển số cần nhận diện:</h3>
            <div class="form-group">
                <input type="file" class="form-control-file" name="file" style="padding-left: 850px">
            </div>
            <br>
            <input type="submit" name="" value="Nhận diện" class="btn btn-info">
        </form>
    </div>
</body>

</html>